*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 500px !important;
}

.subcontainer {
    margin: 80px auto;
    text-align: center;
    align-items: center;
    /* border: 1px solid #0AB506; */
    padding: 20px;
    border-radius: 8px;
}

.user {
    padding: 50px 0 20px 0;
}

.user h6{
    font-size: 18px; 
    color: #8d8c8c;
}

.stroke {
    width: 30px;
    height: 1px;
    background-color: #2e532e;
    margin: auto;
}

i {
    border-radius: 50%;
    background-color: #ffffff;
    padding: 15px;
    margin: 10px;
    color: #0AB506;
    box-shadow: 5px 5px 5px #e1e1e1;
}

input {
    /* border: 1px solid #0AB506; */
    border: none;
    width: 70%;
    padding: 10px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #e1e1e1;
    font-size: 20px;
}

::placeholder {
    color: #8d8c8c;
}

input:focus {
    outline: none;
}

.login input {
    font-weight: bold;
    color: #8d8c8c;
    padding: none;
}

.link a {
    color: #8d8c8c;
}

.link a:hover {
    text-decoration: none;
    color: #0AB506;
}